body {
    background: rgb(151, 58, 58);
}

.principal{
    background: rgb(151, 58, 58);
    padding: 30px;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: rgb(151, 58, 58);
    padding: 20px;
}

h2{
    text-align: center;
}

ul {
    display: inline-block; /* alinhar pela linha de cima */
    vertical-align: top; /* alinhar pelo topo */
    width: 20%; /* largura */
    margin-right: 15%;
}

img {
    width: 25%;
}

#banner {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-right: 25%;
    margin-left: 35%;
}

h1 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #ffffff;
}

.titulo-principal {
padding-left: 20px;
}

.centralizado {
    text-align: center;
}